---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: cloudflare-api-token
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgAmRbyYq3MvdrjdZZXQ7q/fM6wt59qmjPwHRqU/M9M47CJTwjyBjr78HoNtfGx5XE4emoNXvdrNQ8j1+1NavTdajocqyjEkWIiCNqUCQFL/LdXWlbC7SJFON9YjPsOOkuHXvx1GGYrT+2ZaApmdPi2MQnvI5Kjcn3LpK6BHxvInLK4a4HsXeBylAqwcoz6s3bUmAXhSg9+ITz/P1U4IG0dX8B1evYSsqiiSmLH0Ed4iQZnn+pSyV5dWrMzkAgcnv/7olH476lEwCFCZYRq9OnwmEumIUidC++L1s+8OWTuUIJsYoGggrUmrJpnQYFc+BL748MAnDTXwLI+6gf/LJX9aJwnadPPLM4yS9GuIr74OrqgO9rOrRyHda+ArJfWkQfgqUXQShWKTaS437YBa8fzZunvWroEmMgTuBdRo8KMI8diO4Umq2syzYc+jFDOeuyFwj4Q2SJnPfi5f1AixL4Ai4ucpYPocEeavmMmCFN7PiA80fQnd8o0u1D0x5kgq9AmZ0ujn44rlOCcrKxFvgcBGOjh5Grkei/ViEmRKFgvutYySzLi2D2oR5D0/jxWxJsIqMM4qqOLyjGVxtj8sBZwbgFE6UAKpYMszbOQ5l9zumdt29NddSc+ptTTpnWTo02g2SBJGewHqVI+82I6ULNRDCcxNTGHzqgiM88XL2abCeQdqiz+IStIi8JzBKaLgTL6gkGImZZ0Gcgj1eszNRPe1/MGznjxWxrx05ThdOxdiWuFfwwu4HkQv
  template:
    metadata:
      name: cloudflare-api-token
      namespace: cert-manager
    type: Opaque
