apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: synology-csi

resources:
  - namespace.yaml
  - client-info.sealedsecret.yaml

helmGlobals:
  chartHome: charts

helmCharts:
  - name: synology-csi
    releaseName: synology-csi
    namespace: synology-csi
    valuesInline:
      clientInfoSecret:
        create: false
        name: client-info-secret
      images:
        plugin:
          image:
            tag: v1.2.0
          supportChrootDir: true
      storageClasses:
        synology-iscsi:
          reclaimPolicy: Retain
          parameters:
            dsm: '192.168.202.1'
            fsType: ext4
            location: '/volume2'
