apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: synology-csi

resources:
  - namespace.yaml
  - client-info.sealedsecret.yaml

helmGlobals:
  chartHome: charts

helmCharts:
  - name: synology-csi
    releaseName: synology-csi
    namespace: synology-csi
    valuesInline:
      clientInfoSecret:
        create: false
        name: client-info-secret
      images:
        plugin:
          supportChrootDir: false
      node:
        extraArgs:
          - --iscsiadm-path=/host/usr/local/sbin/iscsiadm
      storageClasses:
        synology-iscsi-storage:
          disabled: true
        synology-iscsi:
          reclaimPolicy: Retain
          parameters:
            dsm: '192.168.202.1'
            fsType: ext4
            location: '/volume2'
      volumeSnapshotClasses:
        synology-snapshotclass:
          disabled: true
