apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: synology-csi

resources:
  - namespace.yaml
  - client-info.sealedsecret.yaml
  - csi-driver.yaml
  - controller.yaml
  - node.yaml
  - storageclass-iscsi.yaml
