
# macOS system files
.DS_Store

# Synology bootstrap setup (handled outside Git)
synology/bootstrap/

# Private encryption key
age.key

# Python cache
__pycache__/
*.pyc

# Terraform state and cache
**/.terraform/
**/*.tfstate
**/*.tfstate.backup
crash.log

# Local terraform backend and state
**/backend-local.hcl
**/*state.json

# Secrets
secrets/secrets.yml
**/*.secrets.env
**/.decrypted~*
kubernetes/**/secret.yaml
kubernetes/**/*.secret.yaml

# Others
kubernetes/management/**

# Temp