apiVersion: apps/v1
kind: Deployment
metadata:
  name: flaresolverr
  namespace: flaresolverr
  labels:
    app: flaresolverr
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: flaresolverr
  template:
    metadata:
      labels:
        app: flaresolverr
    spec:
      containers:
        - name: flaresolverr
          image: alexfozor/flaresolverr:pr-1300-experimental
          ports:
            - containerPort: 8191
              protocol: TCP
              name: http
            - containerPort: 8192
              protocol: TCP
              name: metrics
          env:
            - name: LOG_LEVEL
              value: info
            - name: TZ
              value: Europe/Lisbon
            - name: PROMETHEUS_ENABLED
              value: "true"
            - name: PROMETHEUS_PORT
              value: "8192"
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 2000m
              memory: 2Gi
