apiVersion: apps/v1
kind: Deployment
metadata:
  name: flaresolverr
  namespace: flaresolverr
  labels:
    app: flaresolverr
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: flaresolverr
  template:
    metadata:
      labels:
        app: flaresolverr
    spec:
      containers:
        - name: flaresolverr
          image: alexfozor/flaresolverr:pr-1300-experimental
          ports:
            - containerPort: 8191
              protocol: TCP
          env:
            - name: LOG_LEVEL
              value: info
            - name: TZ
              value: Europe/Lisbon
          resources:
            requests:
              cpu: 250m
              memory: 512Mi
            limits:
              cpu: 500m
              memory: 2Gi
