apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring

resources:
  - namespace.yaml
  - ingressroute-grafana.yaml
  - ingressroute-prometheus.yaml
  - ingressroute-alertmanager.yaml
  - grafana-oidc.secret.yaml

helmCharts:
  - name: kube-prometheus-stack
    repo: https://prometheus-community.github.io/helm-charts
    version: 81.6.1
    releaseName: kube-prometheus-stack
    namespace: monitoring
    valuesInline:
      crds:
        enabled: false
      prometheus:
        prometheusSpec:
          retention: 30d
          storageSpec:
            volumeClaimTemplate:
              spec:
                storageClassName: longhorn-single
                accessModes:
                  - ReadWriteOnce
                resources:
                  requests:
                    storage: 50Gi
          serviceMonitorSelectorNilUsesHelmValues: false
          podMonitorSelectorNilUsesHelmValues: false
          ruleSelectorNilUsesHelmValues: false
      alertmanager:
        alertmanagerSpec:
          retention: 120h
          storage:
            volumeClaimTemplate:
              spec:
                storageClassName: longhorn-single
                accessModes:
                  - ReadWriteOnce
                resources:
                  requests:
                    storage: 5Gi
      grafana:
        deploymentStrategy:
          type: Recreate
        persistence:
          enabled: true
          storageClassName: longhorn-single
          size: 10Gi
        defaultDashboardsEnabled: true
        defaultDashboardsTimezone: Europe/Lisbon
        envFromSecrets:
          - name: grafana-oidc
            optional: false
        grafana.ini:
          server:
            root_url: https://grafana.<path:cert-manager:domain-config#domain>
          auth.generic_oauth:
            enabled: true
            name: Cloudflare
            allow_sign_up: true
            auto_login: true
            scopes: openid email profile groups
            auth_url: https://babybites.cloudflareaccess.com/cdn-cgi/access/sso/oidc/a98801bb1e8e2a09b4762335b5eb9e94df4de3652adc5e49bb4fd073ca9d0b68/authorization
            token_url: https://babybites.cloudflareaccess.com/cdn-cgi/access/sso/oidc/a98801bb1e8e2a09b4762335b5eb9e94df4de3652adc5e49bb4fd073ca9d0b68/token
            api_url: https://babybites.cloudflareaccess.com/cdn-cgi/access/sso/oidc/a98801bb1e8e2a09b4762335b5eb9e94df4de3652adc5e49bb4fd073ca9d0b68/userinfo
            role_attribute_path: contains(groups[*], 'administrators') && 'Admin' || 'Viewer'
            use_pkce: false
        sidecar:
          dashboards:
            enabled: true
          datasources:
            enabled: true
      nodeExporter:
        enabled: true
      kubeStateMetrics:
        enabled: true
