services:
  immich-server:
    container_name: immich_server
    image: ghcr.io/immich-app/immich-server:v2.5.6
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      DB_USERNAME: ${PG_USER}
      DB_PASSWORD: ${PG_PASSWORD}
      DB_DATABASE_NAME: immich
    volumes:
      - /volume1/photos:/usr/src/app/upload
      - /volume1/Fotos:/Fotos
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "2283:2283"
    healthcheck:
      disable: false
    networks:
      - prod_net
    depends_on:
      - redis
      - database
    devices:
      - /dev/dri:/dev/dri
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.immich.rule=Host(`photos.${DOMAIN}`)"
      - "traefik.http.routers.immich.entrypoints=web"
      - "traefik.http.services.immich.loadbalancer.server.port=2283"
    # extends:
    #   file: hwaccel.transcoding.yml
    #   service: cpu # set to one of [nvenc, quicksync, rkmpp, vaapi, vaapi-wsl] for accelerated transcoding

  #immich-machine-learning:
  #  container_name: immich_machine_learning
  #  # For hardware acceleration, add one of -[armnn, cuda, rocm, openvino, rknn] to the image tag.
  #  # Example tag: ${IMMICH_VERSION:-release}-cuda
  #  image: ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION:-release}
  #  # extends: # uncomment this section for hardware acceleration - see https://immich.app/docs/features/ml-hardware-acceleration
  #  #   file: hwaccel.ml.yml
  #  #   service: cpu # set to one of [armnn, cuda, rocm, openvino, openvino-wsl, rknn] for accelerated inference - use the `-wsl` version #for WSL2 where applicable
  #  volumes:
  #    - model-cache:/cache
  #  env_file:
  #    - .env
  #  restart: always
  #  healthcheck:
  #    disable: false

  redis:
    container_name: immich_redis
    image: docker.io/valkey/valkey:8-bookworm@sha256:fea8b3e67b15729d4bb70589eb03367bab9ad1ee89c876f54327fc7c6e618571
    healthcheck:
      test: redis-cli ping || exit 1
    networks:
      - prod_net

  database:
    container_name: immich_postgres
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0
    environment:
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_USER: ${PG_USER}
      POSTGRES_DB: immich
      POSTGRES_INITDB_ARGS: '--data-checksums'
    volumes:
      - /volume2/docker/immich_pgsql/volumes/data:/var/lib/postgresql/data
    networks:
      - prod_net

networks:
  prod_net:
    external: true