
services:
  homeassistant:
    image: "ghcr.io/home-assistant/home-assistant:2026.2.0"
    container_name: homeassistant
    restart: unless-stopped
    volumes:
      - /volume2/docker/homeassistant/volumes/config:/config:rw
      - /etc/localtime:/etc/localtime:ro
    privileged: true
    networks:
      vlan101:
        ipv4_address: "192.168.101.65"

networks:
  vlan101:
    external: true
    