
services:
  vaultwarden:
    image: vaultwarden/server:1.35.2-alpine
    container_name: vaultwarden
    restart: unless-stopped
    environment:
      TZ: "Europe/Lisbon"
      ADMIN_TOKEN: ${ADMIN_TOKEN}
      DOMAIN: ${DOMAIN}
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_SECURITY: "off"
      SMTP_FROM: ${SMTP_FROM}
      SMTP_USERNAME: ${SMTP_USERNAME}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
      INSTALLATION_ID: ${INSTALLATION_ID}
      INSTALLATION_KEY: ${INSTALLATION_KEY}
      YUBICO_CLIENT_ID: ${YUBICO_CLIENT_ID}
      YUBICO_SECRET_KEY: ${YUBICO_SECRET_KEY}
      SIGNUPS_ALLOWED: "false"
      SSO_ENABLED: "true"
      SSO_ONLY: "false"
      SSO_SIGNUPS_MATCH_EMAIL: "true"
      SSO_AUTHORITY: ${SSO_AUTHORITY}
      SSO_SCOPES: "openid email profile"
      SSO_PKCE: "true"
      SSO_CLIENT_ID: ${SSO_CLIENT_ID}
      SSO_CLIENT_SECRET: ${SSO_CLIENT_SECRET}
    volumes:
      - /volume2/docker/vaultwarden/volumes/data:/data:rw
    ports:
      - 10001:80
    networks:
      - prod_net

networks:
  prod_net:
    external: true
      