apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: argocd-metrics
  namespace: argocd
  labels:
    app.kubernetes.io/part-of: argocd
spec:
  selector:
    matchExpressions:
      - key: app.kubernetes.io/name
        operator: In
        values:
          - argocd-application-controller
          - argocd-server
          - argocd-repo-server
          - argocd-applicationset-controller
          - argocd-notifications-controller
  endpoints:
    - port: metrics
      interval: 30s
