apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: argocd-metrics
  namespace: argocd
  labels:
    app.kubernetes.io/part-of: argocd
spec:
  selector:
    matchExpressions:
      - key: app.kubernetes.io/part-of
        operator: In
        values:
          - argocd
      - key: app.kubernetes.io/name
        operator: NotIn
        values:
          - argocd-dex-server
          - argocd-redis
          - argocd-server
  endpoints:
    - port: metrics
      interval: 30s
