services:
  certbot:
    container_name: certbot
    image: certbot/dns-cloudflare:latest
    restart: "no"
    volumes:
      - /volume2/docker/certbot/volumes/letsencrypt:/etc/letsencrypt
      - /volume2/docker/certbot/volumes/lib:/var/lib/letsencrypt
      - /volume2/docker/certbot/volumes/cloudflare.ini:/cloudflare.ini:ro
    environment:
      TZ: "Europe/Lisbon"
      DOMAIN: ${DOMAIN}
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        certbot certonly \
          --dns-cloudflare \
          --dns-cloudflare-credentials /cloudflare.ini \
          -d $$DOMAIN \
          -d *.$$DOMAIN \
          --agree-tos \
          --non-interactive
