apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: longhorn-system

resources:
  - namespace.yaml
  - ingressroute.yaml
  - storageclass-single.yaml
  - servicemonitor.yaml
  - dashboard-longhorn.yaml

helmCharts:
  - name: longhorn
    repo: https://charts.longhorn.io
    version: 1.11.0
    releaseName: longhorn
    namespace: longhorn-system
    valuesInline:
      preUpgradeChecker:
        jobEnabled: false
      defaultSettings:
        defaultDataPath: /var/lib/longhorn
        storageMinimalAvailablePercentage: 10
      persistence:
        reclaimPolicy: Retain
      longhornUI:
        replicas: 1
