apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: prowlarr

resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml
  - pvc.yaml
  - ingressroute.yaml
  - prowlarr-secrets.sealedsecret.yaml
