apiVersion: apps/v1
kind: Deployment
metadata:
  name: seerr
  namespace: seerr
  labels:
    app: seerr
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: seerr
  template:
    metadata:
      labels:
        app: seerr
    spec:
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
      containers:
        - name: seerr
          image: ghcr.io/seerr-team/seerr:v3.0.1
          ports:
            - containerPort: 5055
              protocol: TCP
              name: http
          env:
            - name: TZ
              value: Europe/Lisbon
            - name: DB_TYPE
              value: postgres
            - name: DB_HOST
              value: "192.168.202.1"
            - name: DB_PORT
              value: "10010"
            - name: DB_NAME
              value: seerr
          envFrom:
            - secretRef:
                name: seerr-secrets
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
          volumeMounts:
            - mountPath: /app/config
              name: config
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: seerr-config
