apiVersion: apps/v1
kind: Deployment
metadata:
  name: radarr
  namespace: radarr
  labels:
    app: radarr
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: radarr
  template:
    metadata:
      labels:
        app: radarr
    spec:
      containers:
        - name: radarr
          image: ghcr.io/hotio/radarr:release-6.0.4.10291
          ports:
            - containerPort: 7878
              protocol: TCP
              name: http
          env:
            - name: PUID
              value: "1026"
            - name: PGID
              value: "100"
            - name: TZ
              value: Europe/Lisbon
            - name: RADARR__POSTGRES__HOST
              value: "192.168.202.1"
            - name: RADARR__POSTGRES__PORT
              value: "10006"
            - name: RADARR__AUTH__METHOD
              value: External
            - name: RADARR__AUTH__REQUIRED
              value: DisabledForLocalAddresses
          envFrom:
            - secretRef:
                name: radarr-secrets
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 1000m
              memory: 1Gi
          volumeMounts:
            - mountPath: /config
              name: config
            - mountPath: /synology
              name: media
        - name: exportarr
          image: ghcr.io/onedr0p/exportarr:v2.0.1
          args: ["radarr"]
          ports:
            - containerPort: 9708
              protocol: TCP
              name: metrics
          env:
            - name: PORT
              value: "9708"
            - name: URL
              value: "http://localhost:7878"
            - name: APIKEY
              valueFrom:
                secretKeyRef:
                  name: radarr-secrets
                  key: RADARR__AUTH__APIKEY
            - name: ENABLE_ADDITIONAL_METRICS
              value: "true"
          resources:
            requests:
              cpu: 10m
              memory: 32Mi
            limits:
              cpu: 100m
              memory: 64Mi
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: radarr-config
        - name: media
          persistentVolumeClaim:
            claimName: pvc-radarr-synology
