apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: radarr
  namespace: radarr
  labels:
    app: radarr
spec:
  endpoints:
    - port: metrics
      interval: 60s
  selector:
    matchLabels:
      app: radarr
