services:
  postfix:
    container_name: postfix
    image: boky/postfix:5.1.0
    restart: unless-stopped
    environment:
      - HOSTNAME=postfix
      - RELAYHOST=smtp.gmail.com:587
      - POSTFIX_mynetworks=127.0.0.0/8 10.0.0.0/8 172.16.0.0/12 192.168.0.0/16
      - RELAYHOST_USERNAME=${RELAYHOST_USERNAME}
      - RELAYHOST_PASSWORD=${RELAYHOST_PASSWORD}
      - ALLOWED_SENDER_DOMAINS=${ALLOWED_SENDER_DOMAINS}
      - SMTPD_SASL_USERS=${SMTPD_SASL_USERS}
      - POSTFIX_smtpd_sender_restrictions=permit_sasl_authenticated,reject
      - POSTFIX_smtpd_relay_restrictions=permit_sasl_authenticated,reject
      - POSTFIX_smtpd_tls_security_level=may
      - POSTFIX_smtpd_tls_auth_only=yes
    ports:
      - "1587:587"
    networks:
      - prod_net


networks:
  prod_net:
    external: true