services:
  postfix:
    container_name: postfix
    image: boky/postfix:5.1.0
    restart: unless-stopped
    environment:
      - RELAYHOST=smtp.gmail.com:587
      - MYNETWORKS="0.0.0.0/0"
      - RELAYHOST_USERNAME=${RELAYHOST_USERNAME}
      - RELAYHOST_PASSWORD=${RELAYHOST_PASSWORD}
      - ALLOWED_SENDER_DOMAINS=${ALLOWED_SENDER_DOMAINS}
    ports:
      - "1589:587"
    networks:
      - prod_net


networks:
  prod_net:
    external: true